#Python
__pycache__/

# cnn Data & Models
cnn/__pycache__/
cnn/experiments/**

cnn/src/__pycache__/
cnn/src/data/**
cnn/data/**
cnn/*.un~
cnn/*.swp
cnn/*~
cnn/*.json
cnn/*.ipynb
cnn/*.pth
cnn/*.sh
cnn/test.py

multitask/
pass*
scripts

# Pretrained weight cache (BiT-S .npz etc.)
pretrained_weights/
